body {
    /*centralizaçao e distancia entre elementos(p{margin-top})*/
    display: flex;
    flex-direction: column;
    align-items: center;
    zoom: 125%;
    p{
        margin-top: 8px;
    }
    /*wallpaper do site*/
    background-image: url("../assets/images/background-principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /*fonte*/
    font-family: 'Space Mono', monospace;
    color: #7fffd4;
    text-shadow: 0 0 6px rgba(127, 255, 212, 0.8);
    
    /*parte dos spoilers com js*/
    .spoiler {
    background-color: rgba(61, 70, 67, 0.8);
    color: transparent;
    cursor: pointer;
    padding: 0 3px;
    border-radius: 3px;
    user-select: none;
    }
    .spoiler.revelado {
        background-color: #36393f;
        color: rgba(127, 255, 212, 0.8);
        user-select: text;
        text-shadow: 0 0 6px rgba(127, 255, 212, 0.8);
    }
    
    /*algumas classes pra mudar coisas especificas*/
    .letrasmaiores {
        font-size: 30px;
    }
    .maisespaçobaixo{
        margin-bottom: 50px;
    }
    .maisespaçocima{
        margin-top: 50px;
    }
    .listahorizontal{
        display: flex;
        list-style: none;
        gap: 30px;
        padding: 0;
        justify-content: center;
    }
    .imagemlink{
        
    }
    /*essa classe especificamente é pra mudar como alguns links ficam*/
    .rolardentrodapagina a {
        font-family: 'Space Mono', monospace;
        color: #7fffd4;
        text-shadow: 0 0 15px rgba(127, 255, 212, 0.8);
    }
}
/* rolar suavemente*/
html{
    scroll-behavior:smooth;
}
/* tambem é de centralização, mas nao é no body, aí tem que botar fora*/
section {
    text-align: center;
}
header{
    text-align: center;
}
header img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
